@media (prefers-reduced-motion: no-preference) {
	html,
	body {
		margin: 0;
		padding: 0;
		scroll-snap-type: y mandatory;
		scroll-behavior: smooth;
		scroll-padding: 0;
	}
	section {
		scroll-snap-align: start;
		scroll-margin: 0;
	}
}

header {
  background: url(img/bg-masthead.jpg);	 
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: contain;
  margin: 0;
  height: 100vh;
}

html,
body {
	position: relative;
  font-family: Arial bold, Helvetica, sans-serif;
}

section {
	background: #fff;
	min-height: 100vh;
	padding: 2.5em;
}

#navigation {
	position: fixed;
	top: 0;
	left: calc(50% - 20em);
	z-index: 99;
	margin: 0 auto;
	padding: 1em;
	width: 60em;
	background:transparent;
	list-style: none;
}

#navigation li {
	float: left;
	height: 2em;
	text-align: center;
	margin: 0;
	background: transparent;
#	border: thin solid #204960;
	border-radius: .5em;
	line-height: 190%;
	font-family: Arial bold, Helvetica, sans-serif;
        font-size: 1em;
	margin: 0 0 0 1em;
}

#navigation li a,
#navigation li a:link,
#navigation li a:visited {
	text-decoration: none;
	display: block;
	height: 2em;
	color: black;
	font-weight: bold;
	padding: 0.1em 1em;
}

#navigation li a:hover,
#navigation li a:focus,
#navigation li a:active {
	background: transparent;
	color: green;
	border-radius: .5em;
}

section > * {
	max-width: 40em;
	margin: 0.5em auto;
}

section h2 {
	font-size: 4em;
	text-align: center;
	line-height: 2rem;
	-webkit-backface-visibility: hidden;
}

section p {
	text-align: justify;
	-webkit-backface-visibility: hidden;
}
/* Colored sections */

#part_1 {
	background: #ffffff;
}

#part_2 {
	background: #fffbf0;
}

#part_2 img,
#part_5 img {
	float: right;
	margin-left: 1em;
}
#box {
  width: 120px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;	
  padding: 10px;
  margin: 5px;
}
#footer {
	all: none;
}
#part_3 {
	background: #fffbf0;
}

#part_4 {
	background: #e6f2f7;
}
#flex-container {
	display: flex;
}
#flex-container > div {
   column-gap: 15px;
   text-align: center;
   margin: .25em;
   border: 2px dotted;
}
#grid {
   display: grid;
   grid-template-columns: 200px 200px 200px;
   column-gap: 15px;
   text-align: center;
 }
#box1 {
  width: 200px;
  height: 24px;
  border: 1px solid black;
  border-radius: 5px;	
  padding: 2px;
  margin: 7.5px;
  background-color: green;
#  font-color: white;	
  line-height: 160%;
  font-weight: bold;
  vertical-align: middle;	
}
#table,
tr,
td {
  border-radius: .5em;
    border: thin solid grey;
    border-collapse: collapse;
    max-width:100%;
    float: left;
    text-align: center; 
    vertical-align: middle; 
    background-color: transparent;
}

@media screen and (max-width: 32em) {
	section h2 {
		font-size: 2em;
	}
	section p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
 
