header {
  background: url(img/bg-masthead.jpg);	 
  background-repeat: no-repeat;
	background-position: 100% center;
  background-size: contain;
  margin: 0;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
	html,
	body {
		margin: 0;
		padding: 0;
		scroll-snap-type: y mandatory;
		scroll-behavior: smooth;
		scroll-padding: 0;
	}
	section {
		scroll-snap-align: start;
		scroll-margin: 0;
	}
}

html,
body {
	position: relative;
  font-family: Arial bold, Helvetica, sans-serif;
}

section {
	background: #fff;
	min-height: 100vh;
	padding: 2.5em;
}

#navigation {
	position: fixed;
	top: 0;
	left: calc(50% - 20em);
	z-index: 99;
	margin: 0 auto;
	padding: 1em;
	width: 40em;
	background:transparent;
	list-style: none;
}

#navigation li {
	float: left;
	height: 2em;
	text-align: center;
	margin: 0;
	background: transparent;
#	border: thin solid #204960;
	border-radius: .5em;
	line-height: 190%;
	font-family: Arial bold, Helvetica, sans-serif;
  font-size: 18px;
	margin: 0 0 0 1em;
}

#navigation li a,
#navigation li a:link,
#navigation li a:visited {
	text-decoration: none;
	display: block;
	height: 2em;
	color: black;
	font-weight: bold;
	padding: 0.1em 1em;
}

#navigation li a:hover,
#navigation li a:focus,
#navigation li a:active {
	background: transparent;
	color: blue;
	border-radius: .5em;
}

section > * {
	max-width: 40em;
	margin: 0.5em auto;
}

section h2 {
	font-size: 4em;
	text-align: center;
	line-height: 2rem;
	-webkit-backface-visibility: hidden;
}

section p {
	text-align: justify;
	-webkit-backface-visibility: hidden;
}
/* Colored sections */

#part_1 {
	background: #fffbf0;
}

#part_2 {
	background: #ebf5d7;
}

#part_2 img,
#part_5 img {
	float: right;
	margin-left: 1em;
}

#part_3 {
	background: #ffebe6;
}

#part_4 {
	background: #e6f2f7;
}

@media screen and (max-width: 32em) {
	section h2 {
		font-size: 2em;
	}
	section p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
  
table,
  th,
  td {
    border-radius: 1em;
    border: thin solid;
    border-collapse: collapse;
    text-align: center; 
    vertical-align: middle; 
    background-color: transparent;
}
 